.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  position: relative;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(100, 30px);
  grid-template-rows: repeat(100, 30px);
  position: relative;
} */

/* .grid-cell {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
} */

.white-cell {
  background-color: white;
  border: 1px solid #ccc;
}

.black-cell {
  background-color: black;
}

.controls {
  margin-top: 20px;
}

.slider {
  margin-bottom: 10px;
}

.game-over {
  text-align: center;
}

.arrow-line {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
