.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  position: relative;
}

.white-cell {
  background-color: white;
  border: 1px solid #ccc;
}

.black-cell {
  background-color: black;
}

.green-cell {
  background-color: limegreen;
  border: 1px solid #ccc;
}

.controls {
  margin-top: 20px;
}

.slider {
  margin-bottom: 10px;
}

.game-over {
  text-align: center;
}

.arrow-line {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
